<p>
Hi {{ name }}!
</p>

<p>
Your purchase has been completed, see you at codepot.pl!
</p>

<p>
In case of any problems, please contact us at tickets@codepot.pl
</p>

<p>
Invoice, if requested, will be attached to an another email.
</p>

<p>
Your purchase ID: {{ purchase_id }}
</p>

--<br>
Kind regards,<br>
The Codepot Team<br><br>

Follow us:<br>
<a href="http://codepot.pl">http://codepot.pl</a><br>
<a href="http://twitter.com/codepot_pl">Twitter</a><br>
<a href="http://www.facebook.com/codepotpl">Facebook</a><br>
